* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Winky Sans", sans-serif;
}

main {
    min-height: 797px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    color: white;
    text-wrap: nowrap;
    font-size: 1.2rem;
}

.show {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 0rem;
    background-color: #333;
}

a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.show li:hover {
    border-bottom: 1px solid rgb(69, 68, 68);
    background-color: #303030;
}

.show li a {
    display: flex;
}

.p-1 {
    padding: 0.9rem;
}

.image-temple {
    max-width: 15.5rem;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 0.5rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    color: #fff;
}

#menu.open::before {
	content: "❌";
}


.navigation li {
	display: none;
	text-align: center;
}

.navigation.show li {
	display: flex !important;
	text-align: center;
}

.navigation a:hover {
	color: #b8b6b6;
}

.footer {
    color:white;
    background-color: #333;
    padding: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.grid-container section {
    background-color: #ebeaea;
    padding: 0.5rem;
    border: 2px solid rgb(184, 181, 181);
    border-radius: 1.5rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
    max-width: 250px;
    text-align: center;
}

section span {
    font-weight: 700;
    padding-right: 0.5rem;
}
section h3 {
    padding: 1rem;
}

.image-temple {
    box-shadow: 5px 2px 20px rgb(127, 126, 126);
    border-radius: 1rem;
    margin: 0.5rem;
    width: 180px;
    height: 120px;
}
