@media (min-width: 37.5em) {
	#menu {
		display: none;
	}

	.navigation, .navigation.show {
        display: flex;
		flex-direction: row;
	}

	.navigation li,
    .navigation.show li {
		display: flex;
		flex: 1 1 100%;
	}

    .show {
        display: flex;
        position: static;
    }

    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 60.5em) {
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}